/* CSS Reset start */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 100%;
  font: inherit;
  vertical-align: baseline;
}
section {
  display: block;
}
/* CSS Reset end */

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: absolute;
  height: auto;
  inset: 0;
  z-index: -1;
}